language: android
jdk:
    - oraclejdk8
android:
    components:
        - tools
        - platform-tools
        - build-tools-27.0.2
        - android-27
        - android-14
        - extra-android-m2repository
        - extra-android-support

script: ./gradlew check
